name: Build IPA
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: |
          xcodebuild -project SpecBridge.xcodeproj -scheme SpecBridge -sdk iphoneos -configuration Release archive -archivePath $PWD/build/SpecBridge.xcarchive
          xcodebuild -exportArchive -archivePath $PWD/build/SpecBridge.xcarchive -exportOptionsPlist exportOptions.plist -exportPath $PWD/build
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: SpecBridge-IPA
          path: build/*.ipa
